header {
    background-color: aqua;
}
nav {
    background-color: black;
    text-align: center;
    color: white
}

article{
    background-color: rgb(0, 153, 255);
    padding: 20px;
}

article section {
    display: inline-block;
    width: 30%;
    background-color: white;
}

article section img{
    width: 100%;
}

article section a {
    text-decoration: none;
    color: blue;


}

article h1 {
    text-decoration: underline;
    text-align: center;
}

article section p {
    font-size: 13px;
}